* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
}

header {
    background-color: #033048;
}

header li {
    display: inline;
    padding: 18px;
}

header li a {
    color: #f9e42e;
    display: inline;
    text-decoration: none;
}

header h1 {
    float: left;
    color: white;
    margin-left: 120px;
    margin-bottom: 3px;
    font-size: 40px;
    vertical-align: middle;
}

header nav {
    float: right;
    font-size: 24px;
    font-weight: semibold;
    padding-right: 120px;
    margin-top: 11px;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px;
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0;
}

body {
    color: #606161;
    background-color: #f0efef;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 960px;
    margin: auto;
}

section {
    width: 700px;
    margin-left: 120px;
    margin-top: 40px;
    float: left;
    padding-right: 20px;
    padding-bottom: 100px;
}

aside p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height:1.3;
    color: #033048;
}

aside img {
    padding-top: 61px;
}

aside {
    width: 250px;
    margin-right: 120px;
    float: left;
}

aside li a {
    font-size: 24px;
    color: #033048;
    font-weight: 300;
    text-decoration: none;
}

aside a {
    font-size: 22px;
    color: #033048;
    font-weight: 600;
    text-decoration: none;
}

aside ul {
    list-style-type: none;
    margin-left: -40px;
}

aside h3 {
    margin-bottom: 5px;
}

h2 {
    color: #033048;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2em;
}

h3 {
    font-size: 32px;
    font-weight: 800;
    color: #033048;
}

article img {
    width: 100%;
}

article p {
    font-size: 24px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 50px
}

article h2 {
    margin-bottom: 20px;
}

hr {
    margin-top: 100px;
}

article a {
    font-size: 24px;
    font-weight: 600;
    float: right;
    text-decoration: none;
    color: #033048;
}

.drop-cap:first-letter {
    font-size: 80px;
    line-height: 1em;
    float: left;
    margin-right: 7px;
    font-weight: 600
}

.clear {
    clear: both;
    background-color: #f9e42e;
    text-align: center;
    padding: 30px;
    margin-bottom: -30px;
}

.button {
    border-radius: 5px;
    border-color: transparent;
    background-color: #033048;
    color: white;
    padding: 10px 50px 10px 50px;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

footer h1 {
    font-size: 40px;
    font-weight: 800;
    color: #f9e42e;
    padding-top: 43px;
    padding-bottom: 24px;
}

footer img {
    height: 30px;
    width: 30;
    margin: 0 15px;
}

footer {
    font-size: 9px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    background-color: #121212;
}

footer p {
    padding-top: 33px;
    font-size: 15px;
}